<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="text-center">Lista de Personajes</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <table class="table table-bordered table-sm">
        <thead class="table-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre y Apellido</th>
            <th scope="col">Usuario</th>
            <th scope="col">Correo</th>
            <th scope="col">Ciudad</th>
            <th scope="col">Teléfono</th>
            <th scope="col">Sitio web</th>
          </tr>
        </thead>
        <tbody class="table-hover">
          <tr *ngFor="let personaje of personajes; let item=index">
            <th scope="row">{{item+1}}</th>
            <td>{{personaje.name}}</td>
            <td>{{personaje.username}}</td>
            <td>{{personaje.email}}</td>
            <td>{{personaje.address.city}}</td>
            <td>{{personaje.phone}}</td>
            <td>{{personaje.website}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>